<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>session 7 task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAFF19EF1EB92A5A00D12ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFF1A081EB92A5B00D12ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFF1A131EB92A5B00D12ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
